include ../mixins/icon-base
include ../mixins/icon

#loader(align="middle", grow="true", col)
    +icon('#ic-logo')

section#app(row)
    include main-aside
    section#main-container(col)
        include main-nav
        section#router-outlet(grow="true", col)
            include billing