section(id="billing")
    nav(id="date-tags")
        ul
            li
                a.heading-03 hoje
            li
                a.heading-03 última semana
            li
                a.heading-03 último mês
            li
                a.heading-03 outro período

    section(id="balance")
        .legend
            h5.active
                .icon-wrapper
                    +icon('#ic-clientes')
                span.heading-04 Totais

            h5
                .icon-wrapper
                    +icon('#ic-clientes')
                span.heading-04 Clientes

        .total
            .price-tag
                p.heading-07 R$
            .value
                p.heading-05 valor total
                p.heading-06 10.178,60