section(id="billing")
    nav(id="date-tags")
        ul
            li.active
                a.heading-03 hoje
            li
                a.heading-03 última semana
            li
                a.heading-03 último mês
            li
                a.heading-03 outro período

    section(id="balance")
        hgroup
            h5.active
                .icon-wrapper
                    +icon('#ic-totais')
                span.heading-04 Totais

            h5
                .icon-wrapper
                    +icon('#ic-clientes')
                span.heading-04 Clientes

        .total
            .price-tag
                p.heading-07 R$
            .value
                p.heading-05 valor total
                p.heading-06 10.178,60

    section(id="graphics")
        .center-block
            #services
                .content
                    h3.heading-05 Serviços
                    .doughnut
                        canvas(id="doughnut", width="100%", height="100%")
                    ul
                        li
                            .marker
                                .circle
                                h6.heading-08 Banho & Tosa
                            .value
                                span.heading-09 R$ 6.445,25 (50%)
                        li
                            .marker
                                .circle
                                h6.heading-08 Consultas
                            .value
                                span.heading-09 R$ 3.867,15 (30%)
                        li
                            .marker
                                .circle
                                h6.heading-08 Medicamentos
                            .value
                                span.heading-09 R$ 2.578,10 (20%)
                        li
                            .marker
                                h6.heading-10 Total
                            .value
                                h6.heading-09 R$ 12.890,50 (100%)
            #status
                .content
                    h3.heading-05 Despesas x receitas
                    .board
                        canvas(id="board", width="100%", height="100%")
                    ul
                        li
                            .marker
                                .circle
                                h6.heading-08 Receitas
                            .value
                                span.heading-09 R$ 12,890.50 (50%)

                        li
                            .marker
                                .circle
                                h6.heading-08 Despesas
                            .value
                                span.heading-09 R$ 2.711,90 (30%)
