- var menus = htmlWebpackPlugin.options.data.menus
include ../mixins/icon-base
include ../mixins/icon

aside(id="main-aside", shrink="false", col)
    #logo(align="center", col)
        +icon('#ic-logo')
    ul(col)
        each menu, key in menus
            li(class={ active: key == 0 }, align="middle", col)
                +icon(menu.icon)
                span.text= menu.text