- var breadcrumbs = htmlWebpackPlugin.options.data.breadcrumbs

nav#main-nav(grow="false", row)
    .menu(align="middle")
        +icon('#ic-menu')
        
    ul(align="middle", row)
        each bread in breadcrumbs
            li
                a= bread