<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title EyeMobile Challenge
        link(href="fonts/avenir-book/avenir-book.css", rel="stylesheet")
        link(href="fonts/avenir-book/din-condensed.css", rel="stylesheet")
    body
        include includes/app
        script(src="vendors/Chart.bundle.js")