/* ==========================================================================
   -- App
   ========================================================================== */

#app
    min-height 100%

    #router-outlet
        height calc(100vh - 80px)