/* ==========================================================================
   -- App
   ========================================================================== */

#app
    display flex
    flex-direction row
    min-height 100%

    > #main-container
        display flex
        flex-direction column

        > #router-outlet
            height calc(100vh - 80px)
            display flex
            flex-direction column
            flex-grow 1