/* ==========================================================================
   -- Billing
   ========================================================================== */

#billing
    padding 28px 40px
    box-sizing border-box
    overflow-y auto

    > #date-tags
        display flex
        flex-grow 1
        margin-bottom 28px

        > ul
            display flex

            > li
                box-sizing border-box
                border-radius 18px
                padding 9px 26px
                background $caribbean_green
                margin-right 12px

    > #balance
        display flex
        justify-content center
        position relative
        margin-bottom 32px

        > .total
            display flex
            justify-content center
            width 50%
            height 144px
            border-bottom 1px solid $iron

            > .price-tag
                > p
                    margin-top 32px

            > .value
                display flex
                flex-direction column
                align-items center

        > hgroup
            position absolute
            left 0

            > h5
                display flex
                align-items center
                
                > .icon-wrapper
                    width 28px
                    height 28px
                    margin-right 10px

                    > svg
                        width 28px
                        height 28px
                        fill $french_gray

                &:nth-of-type(1)
                    margin-bottom 28px

                &.active
                    > span
                        color $storm_gray

                    > .icon-wrapper
                        > svg
                            fill $storm_gray
    > #graphics
        display flex
        justify-content center

        > .center-block
            display flex
            justify-content center
            width 50%

            > .services
            > .status
                display flex
                flex-direction column
                align-items center
                width 50%

            > .services
                > .content
                    display flex
                    flex-direction column
                    align-items center
                    width 90%

                    > .doughnut
                        display flex
                        justify-content center
                        width 100%
                    
                    > ul
                        > li
                            display flex