/* ==========================================================================
   -- Main Container
   ========================================================================== */

#main-container
    display flex
    flex-grow 1

    @media screen and (max-width: $phone)
        max-width 100vw
        overflow hidden