/* ==========================================================================
   -- Main Nav
   ========================================================================== */

#main-nav
    height 80px
    border-bottom 1px solid $iron
    padding 0 40px

    @media screen and (max-width: $phone)
        padding 0 15px

    > .menu
        width 30px
        height @width
        display none
        min-height 100%
        margin-right 15px

        @media screen and (max-width: $phone)
            display flex

        svg
            width @width
            height @width
            fill $storm_gray

    > ul
        > li
            heading-02()
            
            &:after
                content '|'
                padding 0 30px

            &:nth-last-of-type(1)
                &:after
                    content ''
                    padding 0
