/* ==========================================================================
   -- Base
   ========================================================================== */

body
    background $white_lilac