/* ==========================================================================
   -- Typography
   ========================================================================== */
/* ==========================================================================
   -- Mixins
   ========================================================================== */

heading-01()
    font-family $font-01
    color $gossamer
    font-size 12px

heading-02()
    font-family $font-01
    color $storm_gray
    font-size 13px
    font-weight bold
    text-transform uppercase

heading-03()
    font-family $font-02
    text-transform uppercase
    font-weight 400
    color white
    font-size 15px

heading-04()
    font-family $font-01
    color $french_gray
    text-transform uppercase

heading-05()
    font-family $font-02
    text-transform uppercase
    font-weight 400
    font-size 26px
    color $storm_gray

heading-06()
    font-family $font-01
    color $caribbean_green
    font-size 68px
    font-weight bold
    letter-spacing 2px

heading-07()
    font-family $font-01
    color $caribbean_green
    font-size 36px
    font-weight bold

heading-08()
    font-family $font-01
    color $storm_gray
    font-size 10px
    text-transform uppercase
    line-height 8px

heading-09()
    font-family $font-01
    color $tundora
    font-size 13px
    font-weight bold
    text-transform uppercase

heading-10()
    font-family $font-01
    color $tundora
    font-size 10px
    font-weight bold
    text-transform uppercase


/* ==========================================================================
   -- Classes
   ========================================================================== */

.heading-01
    heading-01()

.heading-02
    heading-02()

.heading-03
    heading-03()

.heading-04
    heading-04()

.heading-05
    heading-05()

.heading-06
    heading-06()

.heading-07
    heading-07()

.heading-08
    heading-08()

.heading-09
    heading-09()

.heading-10
    heading-10()