/* ==========================================================================
   -- Colors
   ========================================================================== */

// green
$caribbean_green        = #08d0a2
$gossamer               = #059C7B

// gray
$tundora                = #494949
$storm_gray             = #737689
$french_gray            = #b4b6c2
$iron                   = #E0E1E3
$white_lilac            = #f6f7fb

// doughnut
$cornflower_blue        = #cd29d5
$purple_heart           = #792ad5
$dodger_blue            = #3a86fe
$wild_watermelon        = #ff4f64