/* ==========================================================================
   -- Fonts
   ========================================================================== */

$font-01 = 'Avenir-Book'
$font-02 = 'DIN Condensed'