/* ==========================================================================
   -- Scrollbar
   ========================================================================== */

scrollbar-01()
    &::-webkit-scrollbar
        width 6px

    &::-webkit-scrollbar-thumb
        border-radius 6px
        background rgba(0,0,0,.3)